

.body-page{
    background-color: #EDEDED;
    min-height: 100vh;
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
}

.home-lines-container{
    margin: 0 auto;
    padding: 5% 10%;
    justify-items: center;
    width: 50%;
    opacity: 0.5;
}




.home-container h1 {
    background-color: #333;
    padding: 10px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-size: 3.0rem;
    text-align: center;
  
}

.home-container h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-size: 3.5rem;
    text-align: center;
  
}
