

.body-page{
    background-color: #EDEDED;
    min-height: 100vh;
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
}

.home-lines-container{
    margin: 0 auto;
    padding: 5% 10%;
    justify-items: center;
    width: 50%;
    opacity: 0.5;
}

.home-left-container{
    min-width: 14vw;
}

.home-right-container{
    background-image: url('../../assets/images/platform-logo.PNG' ) ;

    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    
    padding: 1% 0%;
    min-width: 80vw;
    min-height: 90vh;
}

@media screen and (max-width: 767px) {

    .home-left-container{
        display: none;
    }
    .home-right-container{
        padding: 1% 0%;
        min-width: 100vw;
        min-height: 90vh;
    }
    
}




.home-container h1 {
    background-color: #333;
    padding: 10px;
    position: absolute;
    top: 10%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-size: 3.0rem;
    text-align: center;
  
}
.home-container h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-size: 3.5rem;
    text-align: center;
  
}



@media screen and (max-width: 768px) {
    .home-container h1 {
        font-size: 1.5rem;
    }

    .home-lines-container{
        margin-top: 30%;
        width: 70%;
        max-height: fit-content;
        z-index: 1000000;
        margin-left: 10%;
    }

    .lines-logo{
        height: 70vh;
        position: relative;
        max-height: 50vh;
        width: 100%;
    }

    .home-container h2 {
        font-size: 1.6rem;
    }
    
}
.home-data-container{
    display: flex;
    flex-direction: column;
    gap: 3%;
    color: #333;
}
.home-totalinterns-container{
    background-color: #ffffff;
    max-width: auto;
    height: auto;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 5px;
    text-align: center;
    max-height: 140px;
   
    
}

.home-totalinterns-container p{
    font-size: 2.5rem;
    color: #d8461a;
}

.home-totalinternsCompleation-container{
    background-color: #ffffff;
    max-width: auto;
    height: auto;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 5px;
    text-align: center;
    overflow: auto;
    max-height: 140px;
}
.home-totalinternsCompleation-container p{
    font-size: .7rem;
    color: #0772ff;
}
.home-chart-container{
    background-color: #ffffff;
    max-width: auto;
    height: auto;
    padding: 1%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 5px;
}


.home-chart-container-body{
    display: flex;
    margin-top: 5%;
    gap: 3%;
}




.time-clock-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #2c3e50;
    min-height: 100vh;
    width: 100%;
    font-size: 5rem;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}

.time-clock-message{
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.time-clock-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #2c3e50;
    min-height: 100vh;
    width: 100%;
}
.time-clock-content h5{
    color: #bebebe;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;

}

.time-clock-content input{
    opacity: 0;
}