

.body-page{
    background-color: #EDEDED;
    min-height: 100vh;
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
}

.home-lines-container{
    margin: 0 auto;
    padding: 5% 10%;
    justify-items: center;
    width: 50%;
    opacity: 0.5;
}




.home-container h1 {
    background-color: #333;
    padding: 10px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-size: 3.0rem;
    text-align: center;
  
}
.home-container h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-size: 3.5rem;
    text-align: center;
  
}



@media screen and (max-width: 768px) {
    .home-container h1 {
        font-size: 1.5rem;
    }

    .home-lines-container{
        margin-top: 30%;
        width: 70%;
        max-height: fit-content;
        z-index: 1000000;
        margin-left: 10%;
    }

    .lines-logo{
        height: 70vh;
        position: relative;
        max-height: 50vh;
        width: 100%;
    }

    .home-container h2 {
        font-size: 1.6rem;
    }
    
}


