@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
}



h2{
    font-family: 'Lato', sans-serif;
    color: #2b3a47;
    font-weight: 500;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 20px;
}

.left-section {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    margin-right: 10%;
}


.left-section h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-size: 3.5rem;
    text-align: center;
  
}

.right-section {
    height: auto;
    width: 30vw;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
}

.logos-container {
    display: flex;
    gap: 4vw;
    align-items: center;
    padding: 1% 5%;
}

.rcd-logo {
    width: 60px; 
    height: auto;
}

.hard-rock-logo {
    
    width: 100px;
    height: auto;
}
.lines-logo{
    position: relative;
    width: 100%;
    height: 80vh;
    max-height: 90vh;
}



/* 
404 page
*/

.not-found-page-body{
    display: flex;
    background-color: #2c3e50;
    color: #ffffff;
    width: 100%;
    height: 100vh;
}

.not-found-page-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2%;
    margin: 0 auto;
    padding: 5%;
}

.not-found-page-content h1{
    font-size: 7rem;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    color:#f0f0f0;
}

.not-found-page-content h2{
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    color:#f0f0f0;
    font-weight: 600;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.login-form-container{
 display: flex;
 width: 70%;
 flex-direction: column;
 padding: 2% 4%;
 align-items: center;
}

.login-form-container label{
    max-width: 45%;
    min-width: 25%;
   }

.login-form-container button{
 max-width: 50%;
 margin-top: 5%;

}

.login-form-container h5{
    font-size: .8rem;
    font-family: 'Lato', sans-serif;
    color:#2b3a47;
    font-weight: 600;
    text-align: center;
    border-width:  0 0 1px 0;
    border-style: solid;
    border-color: #7e7e7e;
    padding-bottom: 2%;
}