@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #253442;
}

.container {
    margin: 5% 10% 5% 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.left-section {
    width: 60%;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px 0 0 10px;
}

.right-section {
    width: 40%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 0 10px 10px 0;
}

.left-section img {
    max-width: 100px;
    margin: 10px 0;
}

.left-section h1 {
    text-align: center;
    color: #333;
    margin: 20px 0;
    line-height: 1.2;
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
}

.right-section h2 {
    font-size: 24px;
    font-weight: bold;
    color: #2b3a47;
    margin-bottom: 20px;
}

.button {
    width: 100%;
    max-width: 250px;
    padding: 10px 20px;
    margin: 10px 0;
    border: 2px solid #2b3a47;
    border-radius: 5px;
    background-color: transparent;
    color: #2b3a47;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #2b3a47;
    color: #ffffff;
}

.google-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.google-button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.google-button:hover {
    background-color: #eeeeee;
}