@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.main-container {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #253442;
    width: 100%;
}

h2{
    font-family: 'Lato', sans-serif;
    color: #2b3a47;
    font-weight: 500;
}

.container {
    margin: 5% 10% 5% 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 20px;
    min-height: 80vh;
}

.left-section {
    width: 60%;
    background-color: #ffffff;
    height: 80vh;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px 0 0 20px;
    overflow: hidden;
}


.left-section h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-size: 2.5rem;
    text-align: center;
  
}

.right-section {
    height: 80vh;
    width: 40%;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 0 20px 20px 0;
}

.logos-container {
    display: flex;
    gap: 4vw;
    align-items: center;
    width: 100%;
    padding: 0 10%;
}

.rcd-logo {
    width: 80px; /* Ajusta el tamaño */
    height: auto;
}

.hard-rock-logo {
    
    width: 120px; /* Ajusta el tamaño */
    height: auto;
}
.lines-logo-container{
    padding: 0 10%;
}
.lines-logo{
    width: 100%;
    max-height: 60vh;
}

