@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.ButtonComponent{
    display: flex;
    align-items: center;
    width: 150px;
    height: 40px;
   

}


.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #555;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.google-btn:hover {
    background-color: #f7f7f7;
}

.google-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}





/*
    Menu de notificaciones
*/

.notifications-menu {
    position: absolute;
    top: 50px; /* Ajusta la altura para que el menú se muestre justo debajo del icono */
    right: 60px; /* Alinea el menú a la derecha para que quede bajo el icono */
    min-width: 15vw; /* Ajusta el ancho según tus necesidades */
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 0 0 20px 0;
    z-index: 1000;
    overflow: hidden; /* Asegura que el contenido no desborde */
}

.notifications-menu::before {
    content: "";
    position: absolute;
    top: -60px; /* Ajusta la posición de la flecha */
    right: 20px; /* Ajusta para que la flecha quede centrada bajo el icono */
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
    z-index: 1001;
}

.notifications-menu p{
    text-align: center;
    color: #555;
}

.notifications-header {
    text-align: center;
    margin-bottom: 5px;
   
}

.notifications-header h6 {
    text-align: center;
    margin-bottom: 5px;
    color: #555;
   
}

.notifications-list {
    max-height: 400px;
    overflow-y: auto;
    margin: 0 5%;
}

.notification-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 12px;
}

.notification-type {
    flex: 1;
    color: #4CAF50;
    font-weight: bold;
}

.notification-icon {
    flex: 0 0 30px;
}

.notification-date {
    flex: 2;
    font-size: 0.85em;
    color: #757575;
}

.notification-close {
    flex: 0 0 20px;
    cursor: pointer;
}

.see-more-button {
    width: 100%;
    background-color: #F5F5F5;
    border: none;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    color: #757575;
    font-size: 0.9em;
}




/*
    Menu lateral desplegable
*/



.sidebar {
    background-color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease, opacity 0.3s ease;
    width: 70px; /* Tamaño cerrado */
    position: fixed;
    color: #555;
    overflow: hidden; 
}

.sidebar-open {
    width: 200px;
}

.sidebar-closed {
    width: 70px; 
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 10%;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    opacity: 1;
}

.menu-item .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-item .label {
    margin-left: 10px;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 1;
    transform: translateX(0); 
}

.sidebar-closed .label {
    opacity: 0;
    transform: translateX(-20px); 
}

.menu-item.active {
    background-color: #EDEDED;
    border-style: solid;
    border-color: #BFBFBF;
    border-width: 0.5px 0px 0.5px 10px;
    transition: background-color 0.3s , transform 0.3s;
}

.menu-item:hover {
    background-color: #EDEDED;
    transform: scale(1.05);
}

.sidebar-closed .menu-item .icon {
    transform: scale(0.9); /* Reduce ligeramente el tamaño de los íconos cuando está cerrado */
}

.sidebar-open .menu-item .icon {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño de los íconos cuando está abierto */
}
