@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.ButtonComponent{
    display: flex;
    align-items: center;
    width: 150px;
    height: 40px;
   

}


.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #555;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.google-btn:hover {
    background-color: #f7f7f7;
}

.google-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}





/*
    Menu de notificaciones
*/

.notifications-menu {
    width: 300px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 0 auto;
    position: absolute;
    transform: translateX(170%) translateY(60%);
}

.notifications-header {
    text-align: center;
    margin-bottom: 5px;
   
}

.notifications-header h6 {
    text-align: center;
    margin-bottom: 5px;
    color: #555;
   
}

.notifications-list {
    max-height: 400px;
    overflow-y: auto;
}

.notification-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    margin-bottom: 10px;
}

.notification-type {
    flex: 1;
    color: #4CAF50;
    font-weight: bold;
}

.notification-icon {
    flex: 0 0 30px;
}

.notification-date {
    flex: 2;
    font-size: 0.85em;
    color: #757575;
}

.notification-close {
    flex: 0 0 20px;
    cursor: pointer;
}

.see-more-button {
    width: 100%;
    background-color: #F5F5F5;
    border: none;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    color: #757575;
    font-size: 0.9em;
}

  