@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


/*
    Buttons component
*/

.ButtonComponent{
    display: flex;
    align-items: center;
    width: 150px;
    height: 30%;
    font-size: 0.8rem;
    width: 100%;

}

.ButtonComponent-cancel{
  display: flex;
  align-items: center;
  width: 150px;
  height: 30%;
  font-size: 0.8rem;
  width: 100%;
}


.EditButton{
    display: flex;
    align-items: center;
    width: 150px;
    height: 30%;
    font-size: 0.8rem;
    width: 100%;

}

.retry-getdata{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 100%;
    min-height: 50vh;
    font-size: 0.8rem;
    width: 95%;
    justify-content: center;
}

.retry-getdata h1{
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #5e5e5e;
}

.retry-getdata button{
    font-size: 0.8rem;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #ffffff;
    background-color: #253442;
    padding: .5% 2%;
    border-radius: 5px;
}

/*
    Footer component
*/

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #EDEDED;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    max-height: 40px;
    height: 4vh;
    border-color: #afafaf;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2%;
}

.footer p{
    font-size: 0.8rem;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #5e5e5e;
}

/*
Navbar-Elements
*/

.user-name-navbar{
  font-size: 1.0rem;

}

@media screen and (max-width: 768px) {
    .user-name-navbar{
        display: none;
        
      }
    
}


.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #555;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.google-btn:hover {
    background-color: #f7f7f7;
}

.google-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}





/*
    Notifications menu
*/

.notifications-menu {
    position: absolute;
    top: 50px; 
    right: 60px; 
    min-width: 10vw;
    max-width: 320px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1000;
    overflow: hidden; 
}

@media (max-width: 480px) {
    .notifications-menu {
        position: fixed;
        top: 50px; /* Puedes ajustar según lo que necesites */
        left: 0;
        right: 0;
        width: 100%;
        margin: 0 auto; /* Para centrar el menú */
        max-width: 100%;
        background-color: #ffffff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 8px 8px 0 0;
        padding: 0 0 20px 0;
        z-index: 1000;
        overflow: hidden;
    }
}

@media (max-width: 767px) {
    .notifications-menu {
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;
        width: 100%;
        margin: 0 auto; /* Para centrar el menú */
        max-width: 100%;
        background-color: #ffffff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 8px 8px 0 0;
        padding: 0 0 20px 0;
        z-index: 1000;
        overflow: hidden;
    }
}


.notifications-menu::before {
    content: "";
    position: absolute;
    top: -60px; 
    right: 20px; 
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
    z-index: 1001;
}

.notifications-menu p{
    text-align: center;
    color: #555;
}

.notifications-header {
    text-align: center;
    margin-bottom: 5px;
   
}

.notifications-header h6 {
    text-align: center;
    margin-bottom: 5px;
    color: #555;
   
}

.notifications-list {
    max-height: 400px;
    overflow-y: auto;
    margin: 0 5%;
}

.notification-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgb(238, 238, 238);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    border-radius: 5px;
    margin-bottom: 1.5%;
    text-align: justify;
    font-size: 0.7em;
}

.notification-type {
    flex: 1;
    color: #808080;
    font-weight: 600;
    font-size: .75em;
    font-family: 'Lato', sans-serif;
}

.notification-icon {
    flex: 0 0 30px;
}

.notification-date {
    flex: 2;
    font-size: 0.85em;
    color: #757575;
}

.notification-close {
    flex: 0 0 20px;
    cursor: pointer;
}

.see-more-button {
    width: 100%;
    background-color: #F5F5F5;
    border: none;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    color: #757575;
    font-size: 0.9em;
    transition: 1s;
}
.see-more-button:hover{
  background-color: #e4e4e4;
 
  color: #276dd4;
  transition: 1s;
}



/*
    Sidebar menu component
*/



.sidebar {
    background-color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease, opacity 0.3s ease;
    width: 10vw; /* Tamaño cerrado */
    position: fixed;
    color: #555;
    overflow: hidden; 
    z-index: 1;
}
.sidebar-open {
    width: 11vw;
    
}

.sidebar-closed {
    width: 70px; 
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 10%;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    opacity: 1;
}








.menu-item .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-item .label {
    margin-left: 10px;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 1;
    font-size: 80%;
    font-family: 'Lato', sans-serif;
    transform: translateX(0); 
}

.sidebar-closed .label {
    opacity: 0;
    transform: translateX(-20px); 
}

.menu-item.active {
    background-color: #EDEDED;
    border-style: solid;
    color: rgb(49, 115, 238);
    border-color: #BFBFBF;
    border-width: 0.5px 0px 0.5px 10px;
    transition: background-color 0.3s , transform 1s;
}

.menu-item:hover {
    background-color: #EDEDED;
}

.sidebar-closed .menu-item .icon {
    transform: scale(0.9); 
}

.sidebar-open .menu-item .icon {
    transform: scale(1.1); 
}
@media screen and (max-width: 1375px){
  .sidebar-open {
    width: 12vw;
    
}
  .menu-item.active {
    background-color: #EDEDED;
    border-style: solid;
    color: rgb(49, 115, 238);
    border-color: #BFBFBF;
    border-width: 0.5px 0px 0.5px 5px;
    transition: background-color 0.3s , transform 1s;
}
 .sidebar-open .menu-item .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transform: scale(0.9); 
    transition: transform 0.3s ease, opacity 0.3s ease;
}
}


@media screen and (max-width: 767px) {
    .sidebar {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        transition: max-height 0.3s ease, opacity 0.3s ease;
        width: 100%;
        color: #555;
        height: auto;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 0px 0px 10px 10px;
        overflow: hidden;
        max-height: 0; /* Sidebar cerrado inicialmente */
    }

    .sidebar-open {
        max-height: 500px; 
        opacity: 1;
        transition: max-height 0.5s ease-in-out, opacity 0.3s ease;
    }

    .sidebar-closed {
        max-height: 0;
        opacity: 0;
        transition: max-height 0.5s ease-in-out, opacity 0.3s ease;
    }

    .menu-item {
        display: flex;
        align-items: center;
        padding: 1%;
        transition: background-color 0.3s ease, transform 0.3s ease;
        cursor: pointer;
        opacity: 1;
    }
}


/*
    Filters
*/

.filters-container{
    display: flex;
    gap: 5%;
    padding: 1% 0;
    max-height: 6.5vh;
}

.filters-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
    gap: 16px;
  }
  
  .filters-column {
    display: flex;
    flex-direction: column;
  }
  

  
  .filters-option {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  

/*
   Search
*/

.filters-search{
    display: flex;
    width: 100%;
    padding: 1vh 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: auto;
}



.filters-search input {
    width: 100%;
    border: none;
    font-size: 80%;
    padding: 5px;
    outline: none;
}

.filters-search input:focus, 
.filters-search input:active {
    outline: none; 
    box-shadow: none; 
}
.filters-search button{
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}

.filters-search ::selection{
    width: 100%;
    background-color: #253442;
    color: #ffffff;
}


/*
    Fitters Button
*/


.filter-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 10px; 
    height: 100%;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    gap: 8px; 
    font-weight: bold; 
    color: #757575; 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
  }
  
  .filter-button:hover {
    background-color: #f7f7f7; 
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15); 
  }


  .filter-rectangle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    font-size: .8rem;
    background-color: #ffffff;
    border-radius: 10px; 
    border: 1px solid rgba(0, 0, 0, 0.1); 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: .5% .5%;
    gap: 8px; 
    position: absolute;
    transform: translateX(-30%);
    min-width: 250px;
    z-index: 1;
  }


  .filters-option label{
    cursor: pointer;
    color: #8a8a8a;
    margin-bottom: 4%;
    font-size: .75rem;
    
  }

  

  .filters-option input{
    cursor: pointer;
    
  }

  .filter-divider{
    border-style: solid;
    width: 100%;
    padding: 1% 0;
    border-width: 0 0 1px 0;
    color: #808080;
    border-color: #cacaca;
    
  }

  .clear-filters-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b8b8b8;
    border-radius: 10px; 
    border: 1px solid rgba(128, 128, 128, 0.1); 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: #464646;
    gap: 8px;
  }

  .clear-filters-button:hover{
    background-color: #9c9c9c;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
  }

  .apply-filters-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #619b69;
    border-radius: 10px; 
    border: 1px solid rgba(128, 128, 128, 0.1); 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: #ffffff;
    gap: 8px;
  }

  .apply-filters-button:hover{
    background-color: rgb(124, 175, 121);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
  }


  @media screen and (max-width: 1920px) {
    .filters-container{
        display: flex;
        gap: 5%;
        padding: 1% 0;
        max-height: 5vh;
    }
    .filters-search.phone{
        display: none;
    }

    
    
}


@media screen and (max-width: 767px) {
    .filters-search{
        display: none;
    }
    .filters-search.phone{
        display: flex;
        padding: 0;
    }

    .filter-rectangle{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 97.5%;
        justify-content: start;
        font-size: 1rem;
        background-color: #ffffff;
        border-radius: 0px 0px 10px 10px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        padding: 4% 1%;
        gap: 8px;
        animation: slideDown 0.5s ease-in-out forwards; /* Corrige el nombre de la animación */
        height: auto;
        z-index: 1;
        min-width: auto;
        transform: translateX(0);
        position: absolute; /* Añade position: absolute para que top funcione */
        top: -150px; /* Posición inicial fuera de la pantalla */
    }
}

.filter-rectangle-header{
    display: flex;
    width: 100%;
    gap: 5%;
}

/* Definición de la animación */
@keyframes slideDown {
    0% {
      top: -150px; 
    }
    100% {
      top: 0;
    }
}




  /*
    add button
*/

.add-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1976D2;
    border-radius: 10px; 
    padding: 1% 1.5%; 
    border: 1px solid rgba(0, 0, 0, 0.1); 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    gap: 8px; 
    font-family: 'Lato', sans-serif;
    font-weight: bold; 
    color: #ffffff; 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

.add-button:hover{
    background-color: #1568bb;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

/*
    Delete all records button
*/

.delete-all-records-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c53f2d;
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
  padding: 10px; /* Aumentamos el padding para un mejor efecto visual */
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  gap: 8px;
  font-weight: bold;
  color: #ffffff;
  transition: width 0.5s ease, background-color 0.3s ease, box-shadow 0.3s ease; /* Ajustamos la transición */
  overflow: hidden;
  width: 5%; /* Ancho inicial reducido */
}

.delete-all-records-button:hover {
  background-color: #722e25;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  width: 20%; /* Ancho expandido al hacer hover */
}

.delete-icon {
  /* El ícono siempre visible */
}

.delete-all-records-text {
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 0.3s ease;
  white-space: nowrap; /* Evita que el texto haga salto de línea */
  margin-left: -5px; /* Espacio entre el ícono y el texto */
  max-width: 0; /* Texto inicialmente escondido */
  overflow: hidden;
}

.delete-all-records-button:hover .delete-all-records-text {
  opacity: 1; /* Hacemos el texto visible */
  max-width: 200px; /* Aumentamos el espacio disponible para el texto */
}





/* 
    Interns Table and Components
*/

.interns-table{
    margin: 1% 1%;
    max-height: 63dvh;
    min-height: 63dvh;
  }

  .interns-institutions-table{
    margin: 1% 1%;
    max-height: 63dvh;
    min-height: 63dvh;
  }

  .interns-careers-table{
    margin: 1% 1%;
    max-height: 63dvh;
    min-height: 63dvh;
  }

  /* .supervisors-table{
    margin: 1% 1%;
    max-height: 63dvh;
    min-height: 63dvh;
  } */

  @media screen and (max-width: 767px) {
    .interns-table{
        margin: 1% 1%;
        max-height: 63dvh;
        min-height: 63dvh;
      }
      .interns-institutions-table{
        margin: 1% 1%;
        max-height: 63dvh;
        min-height: 63dvh;
      }
  }

  @media screen and (max-width: 1375px) {
    .interns-table{
        margin: 1% 1%;
        max-height: 55dvh;
        min-height: 55dvh;
      }
      .interns-institutions-table{
        margin: 1% 1%;
        max-height: 55dvh;
        min-height: 55dvh;
      }

      .interns-careers-table{
        margin: 1% 1%;
        max-height: 55dvh;
        min-height: 55dvh;
      }

      /* .supervisors-table{
        margin: 1% 1%;
        max-height: 55dvh;
        min-height: 55dvh;
      } */
  }

  .table-headers {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-size: 0.75rem;
    border-radius: 10px;
    color: #4e4e4e;
    margin-bottom: 10px; 
    padding: .5% 5%;
  }

  .table-checkin-checkout-body{
    overflow: auto;
    max-height: 75dvh;
    margin-bottom: 20%;
  }

  @media screen and (max-width: 1375px) {
    .table-checkin-checkout-body{
      overflow: auto;
      max-height: 55dvh;
      margin-bottom: 10%;
    }
  }
 


  .table-pagination{
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
  }
  
  .table-headers span {
    flex: 1; /* Permite que los elementos se distribuyan equitativamente */
    text-align: center; /* Centra el texto dentro de cada columna */
  }
  
  .table-headers span:first-child {
    text-align: left; /* Alinea el primer encabezado a la izquierda */
  }
  
  .table-headers span:last-child {
    text-align: right; /* Alinea el último encabezado a la derecha */
  }


.intern-card {
    display: flex;
    justify-content: space-between;
    align-items: stretch; 
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1%;
    height: 10vh; 
   
    overflow: hidden;
    transition: 0.5s;
    max-height: 70px;
}

.intern-card.inactive {
  display: flex;
  justify-content: space-between;
  align-items: stretch; 
  background-color: #c4c4c4;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1%;
  height: 10vh; 
 
  overflow: hidden;
  transition: 0.5s;
  max-height: 70px;
  filter: grayscale(100%);
  
}

.intern-card:hover{
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.26);
}

@media screen and (max-width: 1375px) {
    .intern-card {
        display: flex;
        justify-content: space-between;
        align-items: stretch; 
        background-color: #fff;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 1%;
        height: 10vh; 
       
        overflow: hidden;
        transition: 0.5s;
        max-height: 60px;
    }
}

  
/* Intern Type */

.intern-card-variation {
    display: flex;
    justify-content: space-between;
    align-items: stretch; 
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1%;
    height: 10vh; 
    overflow: hidden;
    max-height: 60px;
    transition: 0.5s;
}

.intern-card-variation:hover{
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.26);
}




.intern-type {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0px 0px 10px;
    height: 100%;
}


.intern-type span {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: .8em;
    text-align: center;
    color: #ffffff;
}

.intern-type.interno {
    background-color: #b88a54;
    border-radius: 0;
}

.intern-type.externo {
    background-color: #3C5368;
    border-radius: 0;
}
  
  .intern-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 90%;
  }
  
  .intern-card.interno {
    border-left: 10px solid #b88a54;

  }
  
  .intern-card.externo {
    border-left: 10px solid #3b547c;
    
  }

.intern-careers-type-card{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px; 
    padding: 1% 1.5%; 
    border: 1px solid rgba(0, 0, 0, 0.1); 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    gap: 8px; 
    font-weight: bold; 
    color: #4e4e4e; 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
    font-size: 0.9rem;
}

.intern-careers-type-card.pendiente{
     background-color: #ffe488b9;
     font-family: 'Lato', sans-serif;
}

.intern-careers-type-card.aceptado{
    background-color: #a3e28363;
    font-family: 'Lato', sans-serif;
}


/* 
    Interns Table info
*/

  
  .info-section {
    flex: 3;
    color: #4E4E4E;
  }

 
  
  
  .info-section  h3 {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: .8em;
    color: #2B2B2B;
  }
  
  .info-section p {
    margin: 5px 0 0;
    font-size: 0.9em;
    color: #555;
  }
  
  .progress-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .progress-section span {
    color: #4E4E4E;
    font-size: .75rem;
    margin-bottom: 2px;
  }

  .progress-bar {
    width: 100%;
    height: 1vh;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 5px;
  }
  
  .progress {
    height: 100%;
    background-color: #7FB685;
    transition: width 0.3s;
  }
  
  .actions {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #4E4E4E;
    min-width: 10%;
  }
  .actions button{
    color: #4E4E4E;
  }
  
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }


  .password-input-container {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
  }
  
  .password-input-container input {
    padding-right: 2.5rem; /* Espacio suficiente para el icono */
    width: 100%;
    box-sizing: border-box;
  }
  
  .password-input-container .MuiIconButton-root {
    position: absolute;
    font-size: .75rem;
    right: 0.5rem;
    margin-top: -1px;
  }
  

.edit-mode {
    width: 60%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: .75rem;
    background-color: #fff;
    color: #333;
    font-family: 'Lato', sans-serif;
    outline: none;
    transition: border-color 0.3s ease;
    resize: none; 
    overflow: hidden;   
  text-overflow: ellipsis; 
  transition: 0.5s;
}

.edit-mode input{
  font-size: .75rem;
}

.error-input {
  border: 1px solid red;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

.error-label {
  color: red;
  font-size: 0.75rem;
  margin-top: 5px;
}

.edit-mode:focus {
  border-color: #007bff; 
}




.view-mode {

  width: 60%;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: .80rem;
  color: #333;
  font-family: 'Lato', sans-serif;
  cursor: default; 
  outline: none;
  pointer-events: none; 
  overflow: hidden;  
  resize: none; 
text-overflow: ellipsis;
transition: 0.5s;
}


.info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
}

.info-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2.5%;
  
}

.info-row label {
  font-weight: bold;
  margin-right: 10px;
  width: 35%;
  font-size: .80rem;
  text-align: start;
}


@media screen and (max-width: 1375px) {
  .edit-mode {
    width: 60%;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: .7rem;
    background-color: #fff;
    color: #333;
    font-family: 'Lato', sans-serif;
    outline: none;
    transition: border-color 0.3s ease;
    resize: none; 
    overflow: hidden;   
  text-overflow: ellipsis; 
  transition: 0.5s;
}

.error-label {
  color: red;
  font-size: 0.65rem;
  margin-top: 5px;
}

.info-row label {
  font-weight: bold;
  margin-right: 10px;
  width: 35%;
  font-size: .75rem;
  text-align: start;
}

.info-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2%;
  
}

}



/* Estilo responsive */
@media (max-width: 768px) {
    .info-row {
        width: 100%;
        flex-direction: column;
    }

    .info-row label {
        width: 100%;
        margin-bottom: 5px;
    }

    .edit-mode, .view-mode {
        width: 100%;
    }
}

  
  


  /*
    Notifications page
  */

  .notification-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    width: 100%; /* O ajusta al ancho deseado */
}

.notification-title {
    flex: 1;
}

.notification-type {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}

.notification-description-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.notification-description-icon svg {
    font-size: 24px; /* Tamaño del ícono */
}

.notification-date {
    margin-left: auto;
    font-size: 11px;
    color: #555;
    text-align: end;
}

/* Colores para cada tipo de notificación */
.notification-type.entrada {
    color: #2d9c44; /* Verde */
}

.notification-type.salida {
    color: #2d9c44; /* Verde */
}

.notification-type.salida-no-registrada {
    color: #b24040; /* Rojo */
}

.notification-type.retardo {
    color: #e4a90e; /* Amarillo */
}

/* Estilo para íconos */
.notification-description-icon .MuiSvgIcon-root {
    font-size: 32px;
}

.notification-description-icon svg.check-icon {
    color: #2d9c44; /* Verde para "check" */
}

.notification-description-icon svg.cancel-icon {
    color: #b24040; /* Rojo para "cancel" */
}

.notification-description-icon svg.error-icon {
    color: #e4a90e; /* Amarillo para "error" */
}

.notification-description-icon svg.falta-icon {
    color: #b24040; /* Rojo oscuro para "falta" */
}


.notifications-table{
    max-height: 65vh;
    padding: 0% 10%;
    overflow: scroll;
    overflow-x: hidden;
}

.notification-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 20px;
    padding: 1% 2%;
    background-color: #7c7c7c; 
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 1%;
}

.notification-header h6{
    margin: 0;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}

.notifications-table-main-container{

    padding: 2% 10%;
}



/*
  Custom table
*/

.generic-card {
    display: flex;
    justify-content: space-between;
    align-items: stretch; 
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1%;
    overflow: hidden;
    height: 10vh;
    transition: 0.5s;
    max-height: 70px;
}

.generic-card-info {
    display: flex;
    justify-content: space-between;
    align-items: stretch; 
    color: #2B2B2B;
    margin: 1% 2%;
    justify-items: center;
    align-items: center;
    padding: 0% 2%;
    width: 100%;
    
}

.generic-card-info-users {
  display: flex;
  align-items: stretch; 
  color: #2B2B2B;
  margin: 1% 2%;
  justify-items: center;
  align-items: center;
  padding: 0% 2%;
  width: 100%;
  
}

.generic-card-info-users p{
  font-size: 0.8rem;
}

.generic-card-info-details {
  display: flex;
  gap: 70px; 
}


@media screen and (max-width: 1375px) {
    .generic-card-info {
        display: flex;
        justify-content: space-between;
        align-items: stretch; 
        color: #2B2B2B;
        margin: 0% 2%;
        justify-items: center;
        align-items: center;
        padding: 0% 5%;
        width: 100%;
        
    }
}


.generic-card-info p{
    font-size: 0.8rem;
}

.generic-card-info-extra{
    display: flex;
    gap: 20px;
    min-width: 20vw;
    max-width: 20vw;
    margin-right: 7%;
}
.generic-card-info-column-extra{
  display: flex;
  gap: 20px;
  align-items: center;
  min-width: 10vw;
  width: 7%;
}
.generic-card-info-column-phone{
  text-align: center;
  margin-right: 45%;
  font-family: 'Lato', sans-serif;
}

.generic-card-info-column{
    text-align: center;
    font-family: 'Lato', sans-serif;
}


.generic-card-actions {
    display: flex;
    gap: 20px;
    padding: 0 5%;
}
  
.generic-card-actions button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color:  #4E4E4E;
}
  
  .table-row {
    background-color: #fff;
    
    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para un efecto elevado */
  }
  
 

  /*
    Audits components
  */
.entity-info-modal {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
    position: fixed;
    overflow: hidden;
    max-width: 250px;
    min-width: 200px;
    min-height: 50px;
    opacity: 0; 
    animation: fadeInUp 0.35s ease-out forwards;
  }

  @keyframes fadeInUp {
    from {
        transform: translate(0, 0%);
      opacity: 0;
    }
    to {
        transform: translate(30%, 1%);
      opacity: 1;
    }
  }
  
  
.entity-info-modal-header{
    text-align: center;
    background-color: #253442;
    color: #ffffff;
    height: 30px;
    margin-top: -40px;
}

.entity-info-modal-body{
    padding: 5px 10px;
}

.entity-info-modal-info{
    font-size: .7rem;
    color: #5A5A5A;
    margin: 5% 0;
}

.entity-info-modal-name{
    margin: 0;
    font-size: .8rem;
    font-weight: bold;
}

.audits-table{
    margin: 1% 1%; 
    max-height: 65vh;
    min-height: 65vh;
}

.entity-card{
    cursor: pointer;
    color: #1F4E74;
    font-weight: bold;
    text-align: start;
    width: 100%;
}


@media screen and (max-width: 1375px) {
    .audits-table{
        margin: 1% 1%; 
        max-height: 55vh;
        min-height: 55vh;
    }
}


.date-card{
    width: 30%;
    text-align: start;
}

.supervisor-name{
    width: 100%;
    text-align: start;
    margin-left: 2%;
}


.intern-type-card {
    font-weight: bold;
    text-align: center;
    justify-content: space-between;
    align-items: stretch; 
    font-family: 'Lato', sans-serif;
    width: fit-content;
    cursor: pointer;
    text-align: start;
    font-size: .70rem;
    display: flex;

}

.intern-type-card.insertion {
    background-color: #a3e28363;
    padding: 10px;
    color: rgb(43, 43, 43);
    border-radius: 10px;
    margin-right: 25%;
}

.intern-type-card.update {
    color: rgb(43, 43, 43);
    background-color: #ffe488b9;
    padding: 10px;
    color: rgb(43, 43, 43);
    border-radius: 10px;
    margin-right: 23%;
}


.intern-type-card.delete {
    color: rgb(43, 43, 43);
    background-color: #ce5c5c9a;
    padding: 10px;
    color: rgb(43, 43, 43);
    border-radius: 10px;
    margin-right: 24.7%;
}



/*
   Breadcrumb
*/

.breadcrumb {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 0;
    color: #6c757d; 
  }

  @media screen and (max-width: 1375px) {
    .breadcrumb {
      display: flex;
      align-items: center;
      font-size: .75rem;
      margin: 0;
      color: #6c757d; 
    }
  }
  
  .breadcrumb-item {
    display: flex;
    align-items: center;
    margin: 0;
  }
  
  .breadcrumb-home-segment {
    display: flex;
    align-items: center;
    margin: 0;
  }
  
  .breadcrumb-link {
    text-decoration: none;
    color: #6c757d;
    transition: color 0.3s ease;
    margin: 0;
  }
  
  .breadcrumb-link:hover {
    color: #0056b3; 
  }
  
  .breadcrumb .active-segment {
    font-weight: bold;
    color: #343a40; 
    margin-left: 5px;

  }
  
  .separator-icon {
    font-size: 3px; 
    margin: 0 8px;
    color: #6c757d; 
  }
  
  .breadcrumb-icon {
    margin: 0;
    font-size: .75rem; 
    margin-right: 5px;
  }
  


.dropdown-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out; 
    padding-left: 20%;
    border-radius: 0.25rem;
  }
  
  .dropdown-menu.open {
    max-height: 500px; 
  }
  
  .dropdown-item {
    padding-left: 20px; 
    cursor: pointer;
    margin-top: 1%;
    font-size: .9rem;
    padding: 5px 0;
    color: #6c757d; 
  }

  .dropdown-item.active {
    color: #007bff;  
    border-width: 0 0 1px 0;
    border-style: solid;
  }

  @media screen and (max-width: 1375px) {
    .dropdown-item {
      padding-left: 10px; 
      cursor: pointer;
      font-size: .75rem;
      padding: 5px 0;
      color: #6c757d; 
    }
    .dropdown-item.dropdown-title{
        padding-left: 10px; 
      cursor: pointer;
      font-size: .75rem;
      padding: 5px 0;
      color: #6c757d; 
    }
  }
  
  .dropdown-item:hover {
    color: #0056b3; 
  }
  
  .dropdown-title {
    color: #6c757d;
    font-weight: bold;
    font-size: .9rem;
    margin-bottom: 8px;
  }
  
  .dropdown-title:hover {
    cursor:auto;
    color: #6c757d;
  }

  

/*
  Comments components
*/

.comments-table{
    padding: 0% 5% 0% 0%;
    margin-bottom: 10%;
}

.comments-title{    
    color: #333;
    font-size: 1.3rem;
    font-family: 'Lato', sans-serif;
    text-align: start;
    margin-bottom: 1%
}


.comment-card{
    display: flex;
    background-color: #F9F9F9;
    border-radius: 10px;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.comment-card-content{
    width: 85%;
}

.comment-card-options{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2%;
}


.comment-card.mine:hover{
    background-color: #f0f0f0;
    cursor: pointer;
    animation: fadeIn 0.5s;
}

.comment-card-header{
    display: flex;
    align-items: center;
    padding-left: 3%;
    gap: 2%;
    margin: 0;
}

.comment-card-header h4{
    font-size: .80rem;
    margin: 0;
    font-weight: bold;
}

.comment-card-header p{
    font-size: .80rem;
    font-weight: 100;

}

.comment-card-body{
    padding-left: 3%;
    text-align: start;
    font-size: .90rem;
    text-align: justify;
    font-weight: 100;
}

.add-new-comment{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 5% 0% 0%;
    border-style: solid;
    border-color: #4e4e4e;
    border-width: 0px 0px 1px 0px;
    margin-bottom: 2%;
    margin-right: 5%;
}

.add-new-comment textarea{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #4e4e4e;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    resize: none;
    height: auto;
} 


.add-new-comment button{
    display: flex;
    width: 15%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: .90rem;
    color: #4e4e4e;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    font-weight: bold;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    transition: .5s;
} 


.add-new-comment button:hover{
    background-color: #d8d8d8;
    color: #2b2b2b;
    transition: .5s;
} 



/*
  Check-in-check-out components
*/

.checkincheckout-info-section{
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.date-separator {
    margin-top: 20px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    color: #666;
  }
  .checkincheckout-info-section h3{
    text-align: center;
    font-size: .8rem;
    padding: .7% 1%;
    border-radius: 10px;
    font-weight: 500;
    color: rgb(43, 43, 43);
    font-family: 'Lato', sans-serif;
  }
  
  .checkincheckout-bad-type{
    color: #2e2e2e;
    font-weight: bold;
    background-color: #df6c6c;
    padding: 1% 2%;
    border-radius: 10px;
  }

  .checkincheckout-good-type{
    background-color: #74bd5079;
   
  }

  .checkincheckout-warning-type{
    background-color: #ffe488b9;
  }



  .connection-alert-error{
    position: fixed;
    display: flex;
    z-index: 1;
    justify-content: center;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 3%;
  }

  .connection-alert-error-content{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    background-color: #c52f2f;
    color: white;
    padding: .4vh;
    border-radius: 5px;
    width: 40%;
    box-shadow: 0px 4px 6px rgb(97, 97, 97);
  }


  .connection-alert-success{
    position: fixed;
    display: flex;
    z-index: 1;
    justify-content: center;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 3%;
  }

  .connection-alert-success-content{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    background-color: #43a047;
    color: white;
    padding: .4vh;
    border-radius: 5px;
    width: 40%;
    box-shadow: 0px 4px 6px rgb(97, 97, 97);
  }




  /*
  Loading component
  */

.loading-spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.loader-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
    width: 100%;
    height: 100vh;
}


.loading-spinner.secondary{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}
.loading-spinner h1{
    color: #2c3e50;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    font-style: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: 2%;
}
.loader {
    width: 96px;
    height: 96px;
    border: 20px solid #2c3e50;
    border-bottom-color:  hsl(34, 78%, 51%);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
    animation: rotation 1s linear infinite;
    }

    .loader.loader-secondary {
      width: 56px;
      height: 56px;
      opacity: 0.5;
      border: 10px solid #2c3e50;
      border-bottom-color:  hsl(34, 78%, 51%);
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      transition: all .3s ease-in-out;
      animation: rotation 1s linear infinite;
      }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 


/*
  Nothing to see component
  */
  .nothing-to-see{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
    width: 100%;
    height: 50vh;
    color: #666666;
  }

  .nothing-to-see img{
    width: 20%;
    opacity: 0.8;
  }

/*
  Intern credential component
*/


.intern-credential-container {
  background-color: #3c3c3c;
  border-radius: 10px;
  width: 90%;
  margin: auto;
  height: 80dvh;
  max-height: 80dvh;
  text-align: center;
  overflow: auto;
}

.intern-credential-header {
  background-color: #bfbfbf; 
  padding: 10px;
  height: 5%;
  border-radius: 10px 10px 0 0;
  max-height: 15px;
}

.intern-credential-header h1 {
  font-size: .85em;
  color: #474747;
  margin: 0;
}

.intern-credential-body {
  display: flex;
  justify-content: center;
  padding: 20px 100px;
  gap: 20px;
  height: 78%;
  background-color: #2f2f2f;
  border-radius: 10px;
}


.intern-credential-left, .intern-credential-right {
  max-width: 30%;
  min-width: 30%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.intern-credential-left img{
  width: 90%;
  max-height: 350px;
}


.intern-credential-left h3, .intern-credential-right h3 {
  font-size: 1em;
  margin-bottom: 20px;
  text-align: center;
}

.intern-credential-footer {
  display: flex;
  margin-top: 20px;
  text-align: center;
  bottom: 0;
  height: 2%;
  justify-content: space-around;
  width: 100%;
  gap: 2%;
}

.intern-credential-footer button {
  width: 30%;
}

.intern-credential-right label{
  font-size: .95em;
  color: #474747;
  text-align: center;
  font-size: 'Lato', sans-serif;
  border-style: solid;
  font-weight: bold;
  width: 100%;
  border-width: 0 0 1px 0;

}

.intern-credential-right p{
  font: 1em sans-serif;
  color: #646464;

}

@media screen and (max-width: 1375px) {
  .intern-credential-header {
    background-color: #bfbfbf; 
    padding: 10px;
    height: 5%;
    max-height: 10px;
    border-radius: 10px 10px 0 0;
  }
  .intern-credential-header h1 {
    font-size: .85em;
    color: #474747;
    margin: 0;
  }
  .intern-credential-right p{
    font: .7rem sans-serif;
    color: #646464;
  
  }
  .intern-credential-right label{
    font-size: .8rem;
    color: #474747;
    text-align: center;
    font-size: 'Lato', sans-serif;
    border-style: solid;
    font-weight: bold;
    width: 100%;
    border-width: 0 0 1px 0;
  
  }
  
.intern-credential-body {
  display: flex;
  justify-content: center;
  padding: 20px 100px;
  gap: 20px;
  height: 75%;
  background-color: #2f2f2f;
  border-radius: 10px;
}
.intern-credential-footer {
  display: flex;
  margin-top: 5px;
  text-align: center;
  bottom: 0;
  height: 2%;
  justify-content: space-around;
  width: 100%;
  gap: 2%;
}
.intern-credential-left h3, .intern-credential-right h3 {
  font-size: .9rem;
  margin-bottom: 20px;
  text-align: center;
}

}


/*
  Intern credential component print
*/

@media print {
  .intern-credential-body {
    width: 100%; 
    height: 45vh; 
    background-color: #fff;
    margin: 0 auto; 
    justify-content: center;
    padding: 20px 100px;

  }

  .intern-credential-left, .intern-credential-right {
    max-width: 30%;
    min-width: 30%;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    border-style: solid;
    border-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  
  .intern-credential-left h3, .intern-credential-right h3 {
    font-size: 1em;
    margin-bottom: 20px;
    text-align: center;
  }

  
.intern-credential-left img{
  width: 90%;
  max-height: 300px;
}

}












.report-modal-body p{
  padding: 5px 10px;
  border-color: #a0a0a0;
  border-style: solid;
  color: #868686;
  border-width: 0 0 .5px 0;
  margin-bottom: 4%;
  font-size: .9rem;
  font-family: 'Lato', sans-serif;
}

.report-modal-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 6%;
}

.report-modal-buttons button{
  padding: 5px 10px;
  border-color: #a0a0a0;
  background-color: #1a71d4e0;
  border-radius: 5px;
  color: #ffffff;
  font-weight: bold;
  font-size: .8rem;
  font-family: 'Lato', sans-serif;
  transition: .5s;
  min-height: 30px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.report-modal-buttons button:hover{
  background-color: #145dafe0;
  transition: .5s;
}











.generic-table-container {
  margin: 20px;
  align-content: center;
}

.generic-table-container-body{
  min-height: 60vh;
  max-height: 60vh;
}

.generic-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  
}

.generic-table-headers th {
  text-align: left;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: .75rem;
  color: #555;
}

.generic-table-row {
  background-color: #fff;
  border-radius: 20px;
  font-size: .75rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Lato', sans-serif;
}
.generic-table-row.inactive {
  background-color: #cfcfcf;
  border-radius: 20px;
  font-size: .75rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Lato', sans-serif;
  filter: grayscale(80%);
}
.table-status.active{
  color: #3b974d;
}

.table-avatar {
  display: flex;
  align-items: center;
  padding: 10px;
}

.supervisor-info {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.supervisor-info p {
  margin-left: 10px;
  font-weight: bold;
  color: #333;
}

.tag {
  display: inline-block;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: bold;
}

.table-actions {
  display: flex;
  justify-content: space-around;
  max-width: 200px;
}

.table-actions .MuiIconButton-root {
  color: #555;
}

.table-pagination {
  display: flex;
  justify-content: center;
  padding: 10px;
}








/* 
  Interns Schedule
*/

.interns-schedule-container{
  display: flex;
  padding: 10px;
  justify-content: space-between;
  width: 100%;
  min-width: 75vw;
}

.schedule-table-container{
  width: 90%;

}
.schedule-buttons{
width: 15%;
}

.schedule-buttons button{
  max-width: 200px;
  max-height: 20px;
}

.schedule-table{
  border-collapse: collapse;
  width: 95%;
  height: 100%;
  table-layout: fixed;

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  font-family: 'Lato', sans-serif;
}

.schedule-table th, .schedule-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: .75rem;
}

.schedule-table-headers th {
  border: 1px solid rgb(191 191 191);
  padding: 10px;
  background-color: #5c5c5c;
  color: white;
  text-align: center;
  font-weight: bold;
}

/* 
  Schedule Modal
*/

.schedule-modal-container{
display: flex;
margin-top: 2%;
justify-content: space-between;
font-family: 'Lato', sans-serif;
margin-bottom: 4%;
}


.schedule-add-map{
  display: flex;
  flex-direction: column;
  align-items: self-start;
  width: 100%;
  height: 100%;
  padding: 2%;
  font-size: .9rem;
  color: #555;
  font-family: 'Lato', sans-serif;
  background-color: #ffffff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}