.body-page{
    background-color: #EDEDED;
    min-height: 100vh;
    width: 100%;
    max-height: 100vh;

}


.container-supervisors{
    display: flex;
}


.supervisors-left-container{
    min-width: 14vw;
}

.supervisors-right-container{
    padding: 1% 0%;
    min-width: 80vw;
    min-height: 90vh;
}

.supervisors-data-container{
    overflow: scroll;
    overflow-x: hidden;
    max-height: 75vh;
}