.body-page{
    background-color: #EDEDED;
    min-height: 100vh;
    width: 100%;
    max-height: 100vh;

}


.container-supervisors{
    display: flex;
}


.supervisors-left-container{
    min-width: 14vw;
}

.supervisors-right-container{
    padding: 1% 0%;
    min-width: 80vw;
    min-height: 90vh;
}


.supervisors-table-divider{
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;
    justify-content: center;
    gap: 2%;
}

.table-button{
    color: rgb(107, 107, 107);
    border-style: solid;
    border-width: 0 0 2px 0;
    font-size: .80rem;
    font-weight: 500;
    border-color: rgba(49, 115, 238, 0);
}


.table-button.active{
    padding: 5px;
    color: rgb(49, 115, 238);
    border-color: rgb(49, 115, 238);
}