.body-page{
    background-color: #EDEDED;
    min-height: 100vh;
    width: 100%;
    max-height: 100vh;

}
.container-notifications{
    display: flex;
}

.notificacions-left-container{
    min-width: 14vw;
}

.notificacions-right-container{
    padding: 1% 0%;
    min-width: 80vw;
    min-height: 90vh;
}