.body-page{
    background-color: #EDEDED;
    min-height: 100vh;
    width: 100%;
    max-height: 100vh;

}
.container-notifications{
    display: flex;
    width: 100%;
}

.notifications-left-container{
    display: flex;
}

.notificacions-right-container{
    padding: 1% 0%;
    width: 100%;
    min-height: 90vh;
    transition: all 0.3s ease;
}

@media screen and (max-width: 767px) {

    .notificacions-left-container{
        display: none;
    }

    .notificacions-right-container{
        width: 100%;
        min-height: 90vh;
    }
    
}



.notifications-intern-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 25%;
    width: 100%;
    margin-right: 10%;
}

.notifications-intern-card-img{
    width: 17vw;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;

}

.notifications-intern-card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.notifications-intern-card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.notifications-intern-card-info h3{
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    color: #4B4B4B;
    margin-bottom: 4%
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.notifications-intern-header{
    display: flex;
    align-items: center;
    gap: 3%;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    color: #4B4B4B;
    width: 100%;
    margin-bottom: 10%;
}


