.container-profile{
  display: flex;
  padding: 5%;
}

.profile-left-container{
    border-style: dashed;
    border-color: gray;
    border-width: 0px 2px 0px 0px;
    padding-right: 2%;
}

.profile-right-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0% 5%;
    gap: 5%;    
}
.profile-data-container-left-column{
    width: 60%;
    
    padding-left: 3%;
}
.profile-data-container-right-column{
    width: 30%;
    background-color: white;
    padding: 5%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile-data-container{
    display: flex;
    gap: 5%;
    align-items: center;
    margin-bottom: 5%;
}

.profile-data-container-header{
    display: flex;
    gap: 5%;
    align-items: center;
    margin-bottom: 5%;
}

@media screen and (max-width: 767px) {
    .container-profile{
        display: flex;
        padding: 5%;
        flex-wrap: wrap;
      }
    .profile-right-container{
        display: flex;
        width: 100%;
        padding: 5%;
        gap: 5%;   
        flex-direction: column; 
    }
    .profile-data-container-left-column{
        width: 100%;
        border-style: none;
    }
    .profile-data-container-right-column{
        width: 100%;
    }
}

/*
Profile internal card
*/

.profile-intern-card-img{
    width: 13vw;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;

}

.profile-intern-card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-intern-card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.profile-intern-card-info h3{
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    color: #4B4B4B;
    margin-bottom: 4%
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*
Progress Section
*/

.profile-progress{
    display: flex;
    flex-direction: column;
    gap: 5%;
    background-color: white;
    padding: 5%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

