.container-departments{
    display: flex;
}


.departments-left-container{
    min-width: 14vw;
}

.departments-right-container{
    padding: 1% 0%;
    min-width: 80vw;
    min-height: 90vh;
}


@media screen and (max-width: 767px) {
    .departments-left-container{
        display: none;
    }
    .departments-right-container{
        padding: 2% 2%;
        min-width: 80vw;
        min-height: 90vh;
    }
}
