.container-audits{
    display: flex;
}


.audits-left-container{
    min-width: 14vw;
}

.audits-right-container{
    padding: 1% 0%;
    min-width: 80vw;
    min-height: 90vh;
}

.audits-data-container{
    overflow: scroll;
    overflow-x: hidden;
    max-height: 75vh;
}
