.container-audits{
    display: flex;
}


.audits-left-container{
    min-width: 14vw;
}


.audits-right-container{
    padding: 1% 0%;
    min-width: 80vw;
    min-height: 90vh;
}

.audits-data-container{
    overflow: auto;
    overflow-x: hidden;
    max-height: 75vh;
}


@media screen and (max-width: 767px) {
    .audits-left-container{
        display: none;
    }
    .audits-right-container{
        padding: 2% 2%;
        min-width: 80vw;
        min-height: 90vh;
    }
    
}