.body-page{
    background-color: #EDEDED;
    min-height: 100vh;
    width: 100%;
    max-height: 100vh;

}


.container-interns{
    display: flex;
}


.interns-left-container{
    min-width: 14vw;
}

@media screen and (max-width: 767px) {

    .interns-left-container{
        display: none;
    }
    
}

.interns-right-container{
    padding: 1% 0%;
    min-width: 80vw;
    min-height: 90vh;
}


