.body-page{
    background-color: #EDEDED;
    min-height: 100vh;
    width: 100%;
    max-height: 100vh;
    overflow:hidden;

}


.container-interns{
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 10%;
    margin-left: 20vw;
}
